<mat-toolbar class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-left">
      <span>&copy; {{ currentYear() }} Apex Dashboard. All rights reserved.</span>
    </div>
    
    <div class="footer-right">
      <button mat-icon-button aria-label="GitHub">
        <mat-icon>code</mat-icon>
      </button>
      <button mat-icon-button aria-label="Twitter">
        <mat-icon>link</mat-icon>
      </button>
      <button mat-icon-button aria-label="Help">
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
